ul#skills_list{
    padding-inline-start: 0;
    list-style-type: none;
    display: table;
    margin: 0 auto;
}

.skill_name{
    color: var(--bold-color);
    font-weight: bold;
    margin-left: 25px;

}

.columns3 {
    column-count: 3;
}