.sideoptions {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sideoptions a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideoptions a:hover {
  color: #f1f1f1;
}

.sideoptions .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 130px;
}

@media screen and (max-height: 450px) {
  .sideoptions {padding-top: 15px;}
  .sideoptions a {font-size: 18px;}
}

.dark_mode_toggle_text {
  font-size: 25px;
  color: #818181;
}