ul#experience_list{
    padding-inline-start: 0;
    list-style-type: none;
    display: table;
    margin: 0 auto;
}

ul.company_projects{
    padding-inline-start: 0;
    display: table;
    margin: 20px;
    padding-left: 20px;
}

.company_role {
    color: var(--bold-color);
    font-weight: bold;
}

.company_name {
    color: var(--regular-color);
    padding-top: 5px;
    padding-bottom: 5px;
}

.company_time{
    margin-right: 20px;
}

.company_summary{
    padding-top: 10px;
}