ul#experience_list{
    padding-inline-start: 0;
    list-style-type: none;
    display: table;
    margin: 0 auto;
}

ul.company_projects{
    padding-inline-start: 0;
    display: table;
    margin: 0 auto;
    padding-left: 20px;
}

.company_role {
    color: #276880;
    font-weight: bold;
}

.company_name {
    color: #E91E63;
    padding-top: 5px;
    padding-bottom: 5px;
}

.company_time{
    margin-right: 20px;
}

.company_summary{
    padding-top: 10px;
}

hr.dotted {
    border-top: 1px dashed;
}