* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#main {
  text-align: center;
  background-color: #fafafa;
  color: #1f2023;
}

#main.dark {
    text-align: center;
    background-color: #1f2023;
    color: #efefef;
}

@media (prefers-color-scheme: dark) {


}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

.personal-info {
    justify-content: center;
    text-align: center;
}

.description {
    padding-top: 10px;
    width: 75%;
    text-align: justify;
    overflow-wrap: break-word;
    margin: auto;
}

#photo {
    text-align: center;
    width: 25%;
}

.menu span {
    padding-right: 10px;
}

ul {
    padding-inline-start: 0;
    display: table;
    margin: 0 auto;
}

ul li {
    padding-top: 10px;
    text-align: justify;
    inline-size: 400px;
    overflow-wrap: break-word;
}

.timeline {
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 0px solid black;
}

td.blue {
    border: 3px solid blue;
}

td.red {
    border: 3px solid red;
}

td.green {
    border: 3px solid green;
}

.react-toggle-track-x {
    margin-bottom: 2px !important;
    margin-right: 2px !important;
}

.react-toggle-track-check {
    margin-bottom: 2px !important;
    margin-left: -2px !important;
}

hr.dotted {
    border-top: 1px dashed;
    float: none;
}

.invisible{
    visibility: hidden;
}

.left {
    float: left;
}
.right {
    float: right;
}